
body {
    font-family: 'Cabin', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Rochester', cursive;
    font-family: 'Urbanist', sans-serif;
}

header {
    width: 100%;
    height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 44px;
    /* position: fixed;
    top: 0;
    left: 0; */
}

 .burger-menu {
    width: 48px;
    height: 47px;
    background: #006CE5;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
}  

.header-left-wrapper {
    display: flex;
    gap: 24px;
}

.header-right-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-right: 8px;
}

.header-right-wrapper img {
    width: 28px;
    height: 28px;
    border-left: 1px solid #D4D4D4;
    padding-left: 8px;
}

.header-right-wrapper span {
    display: block;
    color: #ED0E05;
    font-size: 16px;
    font-weight: 600;
}
.header-nav-list {
    display: none;
}

@media (min-width:768px) {

    header {  
        margin-bottom: 32px;
    }

    .header-right-wrapper img {
        padding-left: 12px;
}
}

@media (min-width:1368px) {

    header {
        padding: 14px 36px;
        box-sizing: border-box;
        margin-bottom: 48px;
        }
    
    .content-container {
        min-width: 1296px;
        margin: 0 auto;
        padding: 0 36px;
        box-sizing: border-box;
    }

    .header-nav-list {
        display: block;
    }

    .burger-menu {
       display: none;
    } 

    .header-nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
        font-size: 16px;
        font-weight: 600;
    }

    a {
        text-decoration: none;
        color: #1A1B1B;;
    }
} 